.main-movie-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.root-container {
  background-color: #131313;
  width: 100%;
}
.video-details-view-container {
  background-color: #131313;
  width: 100%;
}
.movie-details-card {
  width: 100%;
}
.movie-details-display-container {
  width: 1440px;
  height: 501px;
  border: 1px solid red;
}
.movie-details-display-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
}
.additional-movie-info-container {
  background-color: #131313;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
@media (min-width: 512px) {
  .additional-movie-info-container {
    background-color: #131313;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px;
  }
}
.loader-container-main-movie-details {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.movie-info-genre-heading {
  font-size: 15px;
  color: #94a3b8;
}
.movie-info-rating-count-heading {
  font-size: 15px;
  color: #94a3b8;
}
.movie-info-budget-heading {
  font-size: 15px;
  color: #94a3b8;
}
.movie-info-rating-avg-heading {
  font-size: 15px;
  color: #94a3b8;
}
.movie-info-each-genre {
  margin-top: -5px;
  font-size: 12px;
  color: #ffffff;
}
.movie-info-release-date {
  font-size: 15px;
  color: #94a3b8;
}
.movie-date {
  margin-top: -5px;
}
.movie-info-rating-count {
  font-size: 12px;
  color: #ffffff;
}
.movie-info-budget {
  font-size: 12px;
  color: #ffffff;
}
.movie-info-rating {
  font-size: 12px;
  color: #ffffff;
}
.movie-info-date {
  font-size: 12px;
  color: #ffffff;
  margin-right: 1px;
}
.movie-info-date-end {
  font-size: 12px;
  color: #ffffff;
  margin-right: 3px;
}
.movie-info-month-name {
  font-size: 12px;
  color: #ffffff;
}
.movie-info-year {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
.each-genre-ul-container {
  padding: 10px;
}
.movie-info-month-name {
  margin-right: 1px;
}

.movie-info-footer-container {
  background-color: #131313;
}
.more-like-this {
  background: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  padding-left: 30px;
  margin-left: 50px;
}

.similar-poster {
  height: 200px;
  width: 140px;
  flex-grow: 0;
  margin: 10px;
}
@media screen and (max-width: 576px) {
  .additional-info-sm-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  .more-like-this {
    background: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    padding-left: 25px;
    margin-left: 0px;
  }
}
.similar-ul-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 10px;
  margin-top: -30px;
  background-color: #131313;
}
